@charset "UTF-8";

#pregisterListRound{
	width : 100%;
}
#personalInfo{
	background : #F3F7FC;
	border : 1px solid #001353;
	border-radius : 10px;
	margin : 10px;
	padding : 10px;
	display : flex;
	justify-content: space-around;
}
#personalInfo .round, #courseInfo .round{
	display : inline-block;
}
#personalInfo input{
	background: #fff;
 	border: 1px solid #777;
 	border-radius : 5px;
 	padding : 5px;
}
#courseInfo{
	background : #f9f9f9;
	border : 1px solid #777;
	border-radius : 10px;
	margin : 10px;
	padding : 10px;
	display : flex;
	justify-content: space-around;
}
#courseInfo input,
#courseInfo select
{
	background: #fff;
 	border: 1px solid #777;
 	border-radius : 5px;
 	padding : 5px;
}
#beRed {
	color : rgb(225, 39, 64);
	font-weight : bold;
}
.pregisterCnt {
	display : inline-block;
	width : 50px;
	color : #001353; 
	font-weight: bold;
	text-align :right;
	margin-left : 10px;
	padding-right : 10px;
}
.labelRegCnt {
	width : 100px;
	text-align : right;
}
#btn2GetList{
	margin-left : 10px;
}
#grid td, #grid1 td{
	background : #f9f9f9;
}
.addBtn{
	background : #475b99;
	border: 0.5px solid #777;
	color : #fff;
	padding:3px;
	padding-left : 5px;
	padding-right : 5px;
	font-weight : bold;
}
.planFormBtn{
	background : white;
	border: 0.5px solid #777;
	color : #777;
	padding:3px;
	font-weight : bold;
	border-radius : 3px;
}
.delBtn{
	background : #f4f4f4;
	color : #e05a5a;
	font-weight : bold;
	border : 0.3px solid #999;
	padding:3px;
	padding-left : 5px;
	padding-right : 5px;
}
#grid1{
	margin-bottom : 30px;
}
#showTimeTable th, #showTimeTable td {
	width : 65px;
	text-align : center;
}
#showTimeTable th {
	background-color : whitesmoke;
}
#showTimeTable td{
	height: 35px;
}
#timeTableDiv {
	width : 400px;
	margin-right : 50px;
}
.highlighted {
	background-color : lightyellow;
}
.setBgGray {
	background-color : lightyellow;
}
#timeTableOpen, #timeTableClose{
	margin-left : 20px;
}
#gridDiv {
	float:left; 
}